body
{
    text-align: center;
    background-color: rebeccapurple;
}
titleimg
{
    width: 50%;
    height: 50%;
}
#title1
{
    font-size: 70;
    font-size: 70;
    font-family: monospace;
}